<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elog.mapper.SyncTaskMapper">
    <resultMap id="BaseResultMap" type="com.elog.entity.SyncTask">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="source_id" property="sourceId"/>
        <result column="target_path" property="targetPath"/>
        <result column="cron_expr" property="cronExpr"/>
        <result column="status" property="status"/>
        <result column="last_run_time" property="lastRunTime"/>
        <result column="last_run_status" property="lastRunStatus"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
</mapper>